html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.leftPanel {
min-width: 350px;
min-height: 1400px;
background: url(../images/leftBackground.png);
border-right: 2px solid #ccc;
position: absolute;
z-index: 1;
}

.importPanel {
    min-height: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
button {
    background: #e5e4e4;
    border: 1px solid #DFD8D8;
    text-align: center;
    border-radius: 3px;
    border-top-width: 2px;
    border-top-color: #ccc;
    min-height: 30px;
    padding: 0px 10px;
    max-width: 240px;
    min-width: 200px;
    cursor: pointer;
}
.exportPanel {
    text-align: center;
    min-height: 500px;
    background: #8c8c8c;
    padding-top: 20px;
}
.container {
    overflow: hidden;
    width:100%;	

padding: 0px;
}
.actionPanel {
    min-height: 400px;
    border-top: 1px solid #fff;
}

.panel {
padding: 10px 10px 10px 10px;
border-bottom: 1px solid #fff;
font-family: arial;
}

.plaformArea {
margin: 3px;
border: 1px dashed;
padding: 20px;
width: 260px;
margin: 10px;
position: relative;
}


.elementController {
border-radius: 5px;
cursor: pointer;
float: left;
overflow: hidden;
}

.elementController:hover {
background-color: #CED9E4;
}


.track {
width: 52px;
background-color: #000;
height: 3px;
}

.crossRight,
.crossLeft {
height: 43px;
position: relative;
width: 60px;
}

.straight {
position: relative;
padding: 20px;
width: 70px;
}

.straight .track {
width: 100%;
}

.crossLeft .track {
-webkit-transform: rotate(140deg);
-moz-transform: rotate(140deg);
-o-transform: rotate(140deg);
writing-mode: lr-tb;
position: absolute;
top: 20px;
height: 3px;
left: 0px;
width: inherit;
}

.panelContent {
overflow: hidden;
}

.crossRight .track {
-webkit-transform: rotate(38deg);
-moz-transform: rotate(38deg);
-o-transform: rotate(38deg);
writing-mode: lr-tb;

position: absolute;
top: 20px;
height: 3px;
right: 9px;
width: inherit;
}

.panel.tracks {
max-width: 120px;
border-right: 1px solid #fff;
float: left;
min-height: 100px;
}

.panel.signals {
float: left;
min-width: 170px;
min-height: 100px;
border-right: 1px solid #fff;
}

.panel.animationControl {
overflow: hidden;
clear: both;
}

.lineVr {
height: 40px;
width: 3px;
background: #000;
position: absolute;
}

.signal {
position: relative;
min-height: 58px;
width: 28px;
margin-left: 14px;
margin-top: 18px;
}

.lineHr {
width: 20px;
height: 3px;
background: #000;
position: absolute;
}

.signalTopRight .lineVr {
    right: 6px;
}
.signalBottomLeft .lineHr {
    bottom: 0px;
}
.signalBottomLeft .lineHr {
    bottom: 17px;
}
.signalBottomRight .lineHr {}
.signalBottomRight .lineHr {
    bottom: 17px;
}
.signalBottomRight .lineVr {
    right: 7px;
}

button:hover {
background: #FFFFFF;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #000f07;
}
.circle.circleOne {
    left: 0px;
    top: 0px;
}

.circle.circleTwo {
    right: 0px;
    top: 0px;
}
.hrLineToConnect {
    height: 2px;
    background: #0d0761;
    position: relative;
    top: 4px;
    z-index: 1;
    margin-left: 6px;
    margin-right: 6px;
}

.darkCircle.heavy {
    width: 2px;
    height: 2px;
    border: 4px solid;
    border-radius: 53px;
}

.darkCircle.light  {
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-radius: 10px;
}


 .buttonControl {
    position: relative;
    clear: both;
}

.knobBox {
}
.upKnobControls{
  position:relatve;
}

.knobBox{
	position: relative;
}

.knobSignal{
	position: absolute;
	width:9px;
	top: 6px;
}

.smallStrip{
  width:9px;
  border-top:2px solid #000;
  position:absolute;
/* Safari */
}


.rotate45Deg{
-webkit-transform: rotate(45deg);

/* Firefox */
-moz-transform: rotate(45deg);

/* IE */
-ms-transform: rotate(45deg);

/* Opera */
-o-transform: rotate(45deg);

}

.rotate180Deg{
-webkit-transform: rotate(320deg);

/* Firefox */
-moz-transform: rotate(180deg);

/* IE */
-ms-transform: rotate(180deg);

/* Opera */
-o-transform: rotate(180deg);

}

.rotate180Deg .knobSmallBox{
	top: 2px;
	right:3px;
}


.knobSmallBox{
	background-color: #000000;
	position: absolute;
	width: 6px;
	height: 4px;
	right: 0px;
	top:2px;
}


.indicatorBox{
	width: 3px;
	height: 3px;
	border: 1px solid #000;
	display: inline-block;
	float:left;
}

.indicatorControls{
	position: relative;
	overflow: hidden;
}

.knobSignal{
	 left:4px;	
}

.knobSignal.rotate180Deg{
	left: 2px;
}


.labelText{
	font-size:12px;
}


.blankBox{
	border:1px solid #000;
	width: 15px;
	height:15px;
}

.lineStrip{
	background-color: #000;
	height: 2px;
	margin: 6px 1px 2px 1px;
	}


.twoCircles{
	width: 100px;
	position: relative;
}


.twoCircles{
	position: relative;
	clear:both;
}

.aspectShunt{
	border:1px solid #000;
	width:6px;
	height: 6px;
	border-radius: 5px;
	position: absolute;
}


.threeAspectsShunt .aspectShunt{
	width:3px;
	height: 3px;
}
.aspectShunt.right{
	right:1px;
}

.aspectShunt.left{
	left:1px;
}

.aspectShunt.bottom{
	bottom: 0px;
}

.aspectShunt.top{
	top: 0px;
}

.twoAspectsShunt{
	position: relative;
}

.pointController{
width: 1px;
height: 1px;
border:1px solid #000;
position:absolute;
top:0px;
left:5px;
}

.threeAspectsShunt{
	position: relative;
}
.threeAspectsShunt.forward .aspectShunt.first{
	top:2px;
	left:2px;
}

.threeAspectsShunt.forward .aspectShunt.second{
	top:8px;
	left:2px;
}

.threeAspectsShunt.forward .aspectShunt.third{
	top:5px;
	left:8px;
}

.threeAspectsShunt.backword .aspectShunt.first{
	top:5px;
	left:2px;
}

.threeAspectsShunt.backword .aspectShunt.second{
	top:2px;
	left:8px;
}

.threeAspectsShunt.backword .aspectShunt.third{
	top:8px;
	left:8px;
}


.noBorder{
	border-color: transparent;
}


.aspectSingal{
	border:1px solid #000;
}


.aspect{
	border:1px solid #000;
	border-radius:5px; 
	margin:1px;
	width:3px;
	height: 3px;
	display: block;
	float: left;
}


.aspectSingal{
	overflow: hidden;
	border-radius:4px;
	width:auto;
	position:relative;
}

.yellow{
	background-color:#FFC306;
}

.red{
	background-color:#FD0606;
}

.green{
	background-color:#06A306;
}

.blue{
	background-color:#0569FF;
}


.circleBlank{
	border:1px solid #000;
	width:15px;
	height: 15px;
	border-radius: 10px;
	position: relative;
}


.strip{
	border-top:1px solid #000;
	position: absolute;
	width:20px;
	top:7px;
	left:-3px;
}

.strip.left.cross{
-webkit-transform: rotate(300deg);

/* Firefox */
-moz-transform: rotate(300deg);

/* IE */
-ms-transform: rotate(300deg);

/* Opera */
-o-transform: rotate(300deg);	
}


.strip.right.cross{
-webkit-transform: rotate(45deg);

/* Firefox */
-moz-transform: rotate(45deg);

/* IE */
-ms-transform: rotate(45deg);

/* Opera */
-o-transform: rotate(45deg);	
}

.aMarker .labelText{
	position: absolute;
	left:3px;
	top:0px;
}

.verticalLine{
	-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);	
}

.yellowTwoSignals .strip:first-child{
	top:6px;
	left:-4px;
}

.yellowTwoSignals .strip{
	top:8px;
	left:-2px;
}


.smPanel{
	position: relative;
	border:1px solid #000;
	min-height: 20px;
	max-width:40px;
}

.smPanel.smPanelOne .strip{
	width:20px;
	left:9px;
	top:5px;	
}


.smPanel.smPanelOne .circle{
	position: absolute;
	top:8px;
	width:5px;
	height: 5px;
	left:16px;
}

.smPanel.smPanelTwo .strip{
	width:20px;
	left:9px;
	top:14px;	
}


.smPanel.smPanelTwo .circle{
	position: absolute;
	top:5px;
	width:5px;
	height: 5px;
	left:16px;
}

.sandHump {
border: 1px solid #000;
max-width: 40px;
position: relative;
overflow: hidden;
min-height: 13px;
}
.sandHumpOne .dotsWrapper {
border-right: 1px solid #000;
overflow: hidden;
position: absolute;
height: 18px;
left: -2px;
line-height: 3px;
padding-right: 2px;
}

.sandHumpTwo .dotsWrapper {
border-left: 1px solid #000;
overflow: hidden;
position: absolute;
height: 18px;
left: 20px;
line-height: 3px;
padding-right: 2px;
}

.dotsRow {
max-width: 20px;
width: 40px;
}

.dotsRow span{
	display: block;
	float:left;
	width:4px;	
	height: 5px;
}


.sandHump.sandHumpOne .strip.horizantalLine {
left: 20px;
top: 6px;
}

.sandHump.sandHumpTwo .strip.horizantalLine {
left: 0px;
top: 6px;
}


.sandHumpTwo .sandHump .strip.horizantalLine {
left: 20px;
top: 6px;
}

.dNone{
	display: none;
}


.forwardCurve{
	border-top:1px solid #000;
	border-left:1px solid #000;
	margin: 10px;
	border-radius:7px 0px 0px 0px;
	height: 10px;
	display:block;
	width:10px;
}


.backwardCurve{
	border-top:1px solid #000;
	border-right:1px solid #000;
	margin: 10px;
	border-radius:0px 7px 0px 0px;
	height: 10px;
	display:block;
	width:10px;
}


.fourAspectsSingals {
max-width: 28px;
}


.threeAspectsSingals {
    max-width: 21px;
}
.twoAspectsSingals {
    max-width: 14px;
}
.twoCircles.axel {
    min-height: 11px;
    max-width: 26px;
}

.axel .circle {
background: rgb(19, 168, 121);
}

.templates > div {
cursor: pointer;
float: left;
margin: 0px;
min-height: 40px;
min-width: 51px;

}
.buttonControl > div {
    margin: 0px 4px 14px;
        opacity: 0.3;
}
.upKnobControls > div {
    margin: 0px 0px 13px;
        opacity: 0.3;
}
#labelControllerTemplate > div {
    margin: 0px 5px 15px;
        opacity: 0.3;
    float: left;
}

#fourAspectsSingals {
    clear: both;
}
#fourAspectsSingals > div {
    margin: 2px;
        opacity: 0.3;
}

.colors {
    clear: right;
    float: left;
}
.colors > div {
    margin: 3px;
    float: left;
    opacity: 0.3;
}
#sandHumpOne {
    clear: left;
}
#sandHumpTwo {
    float: left;
}

#sandHumpOne {
clear: left;
opacity: 0.3;
}

#fourAspectsSingals > div {
margin: 9px;
    opacity: 0.3
}


#backwardCurve {
    opacity: 0.3;
}
#forwardCurve {
    opacity: 0.3;
}

#fourAspectsSingals > div,
#smPanelOne ,
#smPanelTwo ,
#sandHumpTwo ,
.twoCircles.axel,
#indicatorControlsTemplate {
    opacity: 0.3;
}

#backwardCurve:hover,
#forwardCurve:hover,
#sandHumpOne:hover,
#backwardCurve:hover,
#sandHumpOne :hover,
#backwardCurve :hover,
.buttonControl > div:hover, 
.upKnobControls > div:hover,
#labelControllerTemplate > div:hover, 
#fourAspectsSingals > div:hover,
.colors > div:hover,
#fourAspectsSingals > div:hover,
#smPanelOne:hover,
#smPanelTwo:hover,
#sandHumpTwo:hover,
.circle.circleTwo:hover,
.twoCircles.axel:hover,
#indicatorControlsTemplate:hover{
    opacity: 1;
}

.animationControl .panelContent {
    padding-top: 20px;
}

.mainPanel {
position: relative;
width: 100%;
float: right;
min-height: 720px;
}

.mainPanelWrapper {
margin-left: 352px;
min-height: 520px;
}

.mainPanelWrapper .plaformArea {
width: auto;
}

.currentElement ,
.currentElement:hover{
background-color: #C9F3F6 !important;
}

.plaformArea .straight {
float: left;
padding-right: 0px;
padding-left: 0px;
}


.removeThisPlatform {
position: absolute;
right: 5px;
background: #F8F8F8;
padding: 8px 10px;
border-radius: 3px;
font-family: arial;
color: #ccc;
cursor: pointer;
top: 3px;
opacity: 0.7;
}

.removeThisPlatform:hover {
    background: #F8DADA;
    color: #000;
}

.objectProperties{
	background: rgb(71, 68, 68);
	height: 250px;
position: fixed;
bottom: 0px;
width: 100%;
display:none;
}

.objectPropertiesWrapper {
margin-left: 360px;
padding-top: 7px;
color: #999494;
font-family: arial;
font-size: 13px;
}

.thisObject,
.plaformArea .straight:hover {
cursor: pointer;
}	

.col-md-4 {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.row {
    margin: 0px;
}
.control-label {
    white-space: nowrap;
    margin-top: 12px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-offset-2.col-sm-10 {
    margin: 0px;
}
.checkbox label {
    position: relative;
    top: 4px;
}
.checkbox {
    margin-top: 3px;
    margin-bottom: 3px;
}
.propertyBody {
    margin-top: auto;
    margin-right: 20PX;
    border-top: 1px solid #585353;
    padding-top: 20px;
}
.propertiyTitle {
    padding-top: 10px;
    padding-bottom: 13px;
    font-weight: bold;
    color: #ccc;
}

.buttonWrapper {
position: absolute;
top: 5px;
right: 7px;
width: 210px;
}

.buttonWrapper button {
min-width: 100px;
}

.actionPanel .trackId{
	display:none;
}

.mainPanelWrapper .trackId {
text-align: center;
position: relative;
top: -20px;
}


.mainPanelWrapper .straight {
padding-top: 1px;
}

.mainPanelWrapper .plaformArea {
border-color: #C5C4C4;
}

.mainPanelWrapper .plaformArea:hover {
	border-color: rgba(201, 243, 246, 0.38);
	background-color: rgba(201, 243, 246, 0.38);
	cursor:pointer;
}

.thisObject .track {
background-color: #15ABB8;
}

.mainPanelWrapper .trackId {
color: #B4B1B1;
border-bottom: 0px;
}
.mainPanelWrapper .trackId:hover {
color:#000 !important;
}

.mainPanelWrapper .signalTopRight {
position: absolute;
top: -56px;
right: -6px;
margin-left: 0px;
}

.mainPanelWrapper .signalTopLeft {
position: absolute;
top: -56px;
left: 0px;
margin-left: 0px;
}

.mainPanelWrapper .signalBottomRight {
    margin-top: 0px;
    top: 4px;
    right: -8px;
    position: absolute;
}
.mainPanelWrapper .signalBottomLeft {
    margin-top: 0px;
    top: 3px;
    position: absolute;
    left: -14px;
}

.fa.fa-pencil{
color: #000;
position: absolute;
right: -8px;
top: -2px;
}