html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: arial;
	vertical-align: baseline;
  font-size: 13px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
line-height: 1;
 background: #DCDFE0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal normal 15px/20px "aril", Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
font-family: arial !important;
}

.td-container{
	position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-height: 500px;
  border: 1px solid rgba(255,255,255,1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-linear-gradient(-90deg, #e9f0f8 0, #e9f0f8 3%, #e9f0f8 100%);
  background: -moz-linear-gradient(180deg, #e9f0f8 0, #e9f0f8 3%, #e9f0f8 100%);
  background: linear-gradient(180deg, #e9f0f8 0, #e9f0f8 3%, #e9f0f8 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.13) ;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.13) ;
  margin:55px 15px 15px 15px;
  padding: 0px;
}

.header {
    position: absolute;
    top: -60px;
    width: 100%;
}
.tabs li {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    z-index: 0;
}

.tabs {
    position: absolute;
    top: 21px;
    left: 23px;
}


.btn.dropdown-toggle.selectpicker.btn-default,
.tabs a {
 /* border-top: rgba(159, 181, 204, 1); */
    -webkit-box-sizing: content-box;    
    -moz-box-sizing: content-box;    box-sizing: content-box;    width: 100%;    
    height: 25px;    padding: 11px 0 0;    
    border-top: 1px solid rgba(200, 213, 226, 0.2);    -webkit-border-radius: 7px;    
    border-radius: 5px 5px 0px 0px;    font: normal normal normal 13px/normal Arial, Helvetica, sans-serif;    color: #81969B;    text-align: center;    -o-text-overflow: clip;    text-overflow: clip;    
    /* background: -webkit-linear-gradient(-90deg, #f1f6fa 0, #edf4fc 11%, #e5eff8 22%, #DAE2E9 100%); */    background: -moz-linear-gradient(180deg, #f1f6fa 0, #edf4fc 11%, #e5eff8 22%, #DAE2E9 100%);    
    background: linear-gradient(180deg, #F9FCFF 0, #edf4fc 11%, #E8EDF1 22%, #DAE2E9 100%);    background-position: 50% 50%;    -webkit-background-origin: padding-box;    background-origin: padding-box;    -webkit-background-clip: border-box;    background-clip: border-box;    -webkit-background-size: auto auto;    background-size: auto auto;    
    /* -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.13) ; */    
    /* box-shadow: 0 0 1px 1px rgba(0,0,0,0.13) ; */
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
    
 border-left: 1px solid rgba(198, 208, 216, 0.97);
    
 border-right: 1px solid rgba(252, 253, 255, 1);
    cursor: pointer;
 border-top-color: #ccc;
}

.tabs a:hover{
	color: #000000;
}

.tabs a{
	
	min-width: 100px;
}

.tabs .active a {
background: -webkit-linear-gradient(-90deg, #fcfcfc 0, #eaeef1 23%, #e8edf1 39%, #ebeff8 100%);
  background: -moz-linear-gradient(180deg, #fcfcfc 0, #eaeef1 23%, #e8edf1 39%, #ebeff8 100%);
  background: linear-gradient(180deg, #fcfcfc 0, #eaeef1 23%, #e8edf1 39%, #ebeff8 100%);
  color: #000000;
  padding-bottom: 1px;
  font-weight: bold;
  border-right-color: #C9C0C0;
  border-bottom: 1px solid #ebeff8;
  border-left-color: #C2CCCE;
  
  
  border-top-color: #C2CCCE;
  
  
}

.defaultLabelText {
    color: #A3A3A3;
    font-weight: normal;
}
.profileURL {
    float: left;
    font-weight: n;
}
.hrLine {
    float: left;
    margin: 0px 12px;
    color: #CCC;
}
.settings {
    position: relative;
    right: 0px;
    /* width: auto; */
    float: right;
    top: 30px;
    font-size: 13px;
    font-family: arial;
}
.ruleSet {
float: left;
position: relative;
top: -6px;
right: 10px;
padding-left: 10px;
}
.urlActiveText {
    font-weight: normal;
}

.dropdown-menu {
    left: -80px;
}

.dNone{
	display: none;
}

.btn.dropdown-toggle.selectpicker.btn-default {
padding-top: 0px;
border-radius: 3px;
position: relative;
top: 2px;
    border-bottom-color: #C7C4C4;
    
 border-top-color: #CEC5C5;
    border-right-color: rgba(170, 158, 158, 0.33);


}
.btn-group.bootstrap-select {
    width: 100px!important;
}

li {}
.dropdown-menu.inner.selectpicker li {
    font-weight: normal;
}
.text {
    font-weight: normal !important;
}
.filter-option.pull-left {
    font-weight: normal;
    color: #000;
}

.muted.text-muted {
display: none;
}

.dropdown-menu.open {
left: -33px;
}

.dropdown-menu{
    width: 145px;
}

.row.gradesRow {
    margin: 5px;
    border: 1px solid;
    border-radius: 4px;
    border-top-color: #F8F9FA;
    padding: 10px 0px;
    border-left-color: #F7F8FA;
    border-right-color: #dee3e9;
    border-bottom-color: #dee3e9;
    
background: #EBF3F3;
}
.primaryGrade h2 {
    float: left;
    position: relative;
}
.grade {
    background: red;
    /* float: left; */
    /* width: 22px; */
    text-align: center;
    margin-left: 5px;
    border-radius: 100px;
    color: #fff;
    /* height: 22px; */
    display: inline-block;
    padding: 5px 11px;
	position: relative;
top: 1px;
}

.grade-a{
	  background: -webkit-linear-gradient(-90deg, #2e922f 0, #166516 100%);
  background: -moz-linear-gradient(180deg, #2e922f 0, #166516 100%);
  background: linear-gradient(180deg, #2e922f 0, #166516 100%);
}

.grade-b{
  background: -webkit-linear-gradient(-90deg, #93b64e 0, #7b9b3b 100%);
  background: -moz-linear-gradient(180deg, #93b64e 0, #7b9b3b 100%);
  background: linear-gradient(180deg, #93b64e 0, #7b9b3b 100%);
}

.grade-c{
  background: -webkit-linear-gradient(-90deg, #e1c637 0, #e09f38 100%);
  background: -moz-linear-gradient(180deg, #e1c637 0, #e09f38 100%);
  background: linear-gradient(180deg, #e1c637 0, #e09f38 100%);
}

.grade-d{
  background: -webkit-linear-gradient(-90deg, #df9242 0, #af4407 100%);
  background: -moz-linear-gradient(180deg, #df9242 0, #af4407 100%);
  background: linear-gradient(180deg, #df9242 0, #af4407 100%);
}

.grade-e{
  background: -webkit-linear-gradient(-90deg, #c73d3d 0, #9b0d0d 100%);
  background: -moz-linear-gradient(180deg, #c73d3d 0, #9b0d0d 100%);
  background: linear-gradient(180deg, #c73d3d 0, #9b0d0d 100%);
}

.grade-f{
  background: -webkit-linear-gradient(-90deg, #93b64e 0, #7b9b3b 100%);
  background: -moz-linear-gradient(180deg, #93b64e 0, #7b9b3b 100%);
  background: linear-gradient(180deg, #93b64e 0, #7b9b3b 100%);
}

.grade-g{
  background: -webkit-linear-gradient(-90deg, #93b64e 0, #7b9b3b 100%);
  background: -moz-linear-gradient(180deg, #93b64e 0, #7b9b3b 100%);
  background: linear-gradient(180deg, #93b64e 0, #7b9b3b 100%);
}

  
.overallPerformance {
    float: right;
    position: relative;
    top: 8px;
    color: #81969B;
    font-weight: normal;
}
.performScoreNumber {
    color: #000;
}

.leftTabs a {
    font-weight: normal;
    font-size: 13px;
    color: #858383;
}
.leftTabs li a {
    padding: 10px 10px 10px 50px;
    border-top: 1px solid #DCE5EC;
    border-bottom: 1px solid rgba(249, 249, 251, 0.37);
    display: block;
    text-decoration: none !important;
}
.leftTabs li {
    overflow: hidden;
    position: relative;
}
.leftTabs li.active a {
    background: #fff;
    color: #000;
    border-top-color: #d1d8e0;
    border-bottom-color: #d1d8e0;
    font-weight: bold;
}

.leftTabContent, .leftSec {
    padding-left: 0px;
    padding-right: 0px;
}
.leftTabContainer {
background-color: #fff;
border: 1px solid #d1d8e0;
margin-right: 12px;
min-height: 445px;
border-radius: 4px 0px 0px 0px;
}
.leftSec {
    position: relative;
    z-index: 2;
}
.leftTabContent {
    position: relative;
    z-index: 1;
    margin-left: -1px;
margin-top: -7px;
}
.leftTabs {
margin-left: 14px;
margin-top: -7px;
}
.leftTabContainer .tab-pane {
    display: none;
}
.leftTabContainer .tab-pane.active {
    display: block;
}

.gradeBlock {
    width: 30px;
    height: 21px;
    position: absolute;
    left: 10px;
    border-left: 4px solid;
	color: #fff;
	text-align: center;
}

.leftSec .active .gradeBlock.grade-a,
.leftSec .active .gradeBlock.grade-b,
.leftSec .active .gradeBlock.grade-c,
.leftSec .active .gradeBlock.grade-d,
.leftSec .active .gradeBlock.grade-e{
	border-left-width:9px;	
}

.gradeBlock.grade-a{
	border-left-color:#35a235;	
}

.gradeBlock.grade-b{
	border-left-color:#a4cb58;	
}

.gradeBlock.grade-c{
	border-left-color:#fade3d;	
}

.gradeBlock.grade-d{
	border-left-color:#f6a24a;	
}

.gradeBlock.grade-e{
	border-left-color:#df4344;	
}

.leftTabContainerWrapper h2 {
font-size: 28px;
font-weight: normal;
padding: 31px 0px 32px 50px;
border-bottom: 1px solid #E4E4E4;
text-align: left;
}
.activity-variables {
    padding-left: 40px;
    padding-top: 10px;
}
.activityVar {
      font: normal normal normal 70px/normal "Delius", Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    min-height: 90px;
}
.activity-variables .col-sm-3 {
    width: 19%;
}
.activityLabel {

text-align: center;
font-weight: normal;
color: #575757;
padding-left: 29px;
padding-right: 20px;
}

p {
    font-weight: normal;
}
.varInfo {
    margin: 30px 50px 50px;
    background: #F3F3F3;
    padding: 20px;
    border-radius: 3px;
}

.colWrapper.gradePerRule {
    padding: 25px 50px 0px;
}
.scoreBlockWrapper {
 background: -webkit-linear-gradient(-142.1250163489018deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 60%, #ececec 100%);
  background: -moz-linear-gradient(232.1250163489018deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 60%, #ececec 100%);
  background: linear-gradient(232.1250163489018deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 60%, #ececec 100%);
    border: 5px solid #E7F7F7;
    padding: 5px;
    box-shadow: 0px 0px 1px rgb(156, 150, 150);
    min-height: 200px;
}
.gradePerRule .col-sm-3 {
    margin: 0px;
    padding: 4px;
}
.gradePerRule .activityVar {
    font-size: 95px;
}
.gradePerRule .activityLabel {
    font-size: 16px;
    font-weight: normal;
}

.score-bad {
color: #e51111;
}

.color-notify,
.score-average {
color: #ffcc33;
}

.score-good {
color: #339900;
}

.tableWrapper {
    background: #FFFFFF;
    margin: -5px 5px 10px 7px;
    font-weight: normal;
    border: 1px solid #E4E2E2;
    border-top: 0px;
}


.tableWrapper td {
    font-weight: normal;
}
.tableWrapper th {
    background: #E2F0F1;
    height: 14px;
    padding-bottom: 4px !important;
    padding-top: 5px !important;
    border-left: 1px solid #D8D4D4;
	border-bottom:0px !important;
}

.tableWrapper td,
.tableWrapper th {
    font-size: 13px;
}

.table-striped>tbody>tr:nth-child(odd)>td {
    border-left: 1px solid #ECECEC;
}
.table-striped>tbody>tr:nth-child(even)>td {
    border-left: 1px solid #E9E6E6;
}

.table.table-striped {
    margin-bottom: 0px;
}

.contentHeader h2{
height: 35px;
padding-top: 10px;
padding-bottom: 5px;
}

.tableWrapper th:first-child,
.tableWrapper td:first-child{
	 border-left:0px;
}

.container-wrapper{
font-weight: normal;
}

.container-wrapper-start-up{
      -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid rgba(249,249,249,1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
  color: #808282;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #e9f0f8;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.13) ;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.13) ;
  text-shadow: 1px 1px 1px rgba(255,255,255,1) ;
  width: 350px;
padding-top: 140px;
padding-bottom: 20px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -175px;
margin-top: -90px;
background-image: url('../images/connect_pc_device.png');
background-size: 60% auto;
background-position: 90px 30px;
background-repeat: no-repeat;
}

.container-start-up-content {
font-size: 16px;
font-weight: normal !important;
color: #6E8286;
}

label{
  font-weight: normal;
}

.connected-device-section {
    padding: 5px;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	min-height:55px;
}
.activated-lable-value {
    color: #A0A0A0;
}
.activated-text {
    font-weight: bold;
}

.search-bar-wrapper {
    padding: 3px;
    background: #fff;
    width: 30%;
    position: absolute;
    top: 40%;
    left: 52%;
    border-radius: 2px;
    border: 1px solid #D3D0D0;
    margin-left: -15%;
    margin-top: 10px;
}
.input-wrapper {
padding-right: 50px;
padding-left: 10px;
}
.search-input-big {
    width: 100%;
    height: 40px;
    border: 0px;
    font-size: 25px;
    font-weight: normal;
}
.search-start-button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 52px;
    border: 0px;
    height: 45px;


background: none;
}

.search-input-big::-webkit-input-placeholder {font-size: 14px; line-height: 30px; }
.search-input-big::-moz-placeholder {font-size: 14px; }
.search-input-big::-ms-input-placeholder {font-size: 14px;}

.fa.fa-play-circle {
    font-size: 45px;
    line-height: 42px;
}

.hide-this{
  display: none;
}

.show-this{
  display: block;
}

.container-start-up-content p {
font-size: 16px;
}

.search-start-button .fa.fa-play-circle {
    position: absolute;
    top: 2px;
    right: 3px;
}

.activityVar i {
font-size: 55px;
position: relative;
top: 0px;
}

.m320 .settings{
	position: relative;
top: -17px;
}

.m320 .defaultGradeText,
.m320 .ruleSet .defaultLabelText{
	display:none;
}

.m320 .gradesRow .col-sm-4{
	margin:0px;
	padding:0px;
}

.m320 .tabs{
	left:15px;
}

.m320 .td-container {
    margin-top: 90px;
}
.m320 .row.gradesRow > .col-sm-4 {
    float: left;
}
.m320 .primaryGrade {
    width: auto;
    display: inline-block;
}
.m320 .tabs a {
    min-width: 70px;
}

.m320 #home {
    overflow: hidden;
}
.m320 .activity-variables .col-sm-3 {
width: 90%;
margin: 6px 0px 0px 0px;
padding: 0px;
border-bottom: 1px solid #EAF5FA;
}

.m768.mobile-menu.settings{
	position:relative;
	top: -17px;
	right: -15px;
}
.m768.mobile-menu.defaultGradeText,
.m768.mobile-menu.ruleSet .defaultLabelText{
	display:none;
}
.m768.mobile-menu .gradesRow .col-sm-4{
	margin:0px;
	padding:0px;
}
.m768.mobile-menu .tabs{
	left:15px;
}
.m768.mobile-menu .td-container {
    margin-top: 80px;
}
.m768.mobile-menu .row.gradesRow > .col-sm-4 {
    float: left;
}
.m768.mobile-menu .primaryGrade {
    width: auto;
    display: inline-block;
}
.m768.mobile-menu .tabs a {
    min-width: 70px;
}

.m768.mobile-menu .ruleSet .defaultLabelText {
    display: none;
}
.m768.mobile-menu #home {
    overflow: hidden;
}
.m768.mobile-menu .activity-variables .col-sm-3 {
    width: 100%;;
    margin: 20px 0px 0px -20px;
    padding: 0px;
}

.m768.mobile-menu  .profileURL {
    position: absolute;
    top: -50px;
}
.m768.mobile-menu .profileURL {
    position: absolute;
    top: -40px;
    left: 0px;
    right: auto;
}
.m768.mobile-menu .header .col-sm-5 {
    display: block;
    position: relative;
    float: none;
    right: auto;
    left: 0px;
}
.settings {}
.m768.mobile-menu .settings {
    position: relative;
    left: 4px;
    float: none;
}
.m768.mobile-menu .ruleSet {
    float: right;
    right: 17px;
}

.mobile-menu.m320 .leftTabs {
    max-width: 210px;
    /* float: left; */
}
.mobile-menu.m320 .col-sm-9.leftTabContent {
float: right;
margin-left: 203px;
margin-top: -84px;
z-index: 3;
}

.m320.mobile-menu .leftTabContainerWrapper h2 {
    padding: inherit;
}
.m320.mobile-menu .gradesTab .leftTabContainerWrapper h2 {
padding: 10px 0px 10px 0px;
font-size: 19px;
text-align: center;
}
.m320.mobile-menu  .activity-variables {
    padding-left: 0px;
}
.m320.mobile-menu  .activity-variables {
    padding-left: 0px;
}
.m320.mobile-menu .activity-variables {
    padding-left: 10px;
}
.m320.mobile-menu .gradesTab .activityVar {
font-size: 30px;
min-height: 30px;
font-weight: bold;
}


.m320.mobile-menu .varInfo {
    padding: 10px;
    margin: 10px;
}

.m320.mobile-menu .activityLabel {
padding-left: 18px;
}

.mobile-menu.m768 .leftSec {
max-width: 220px;
}

.mobile-menu.m768 .leftTabContent {
margin-left: 217px;
margin-top: -84px;
}

.m768.mobile-menu .activity-variables .col-sm-3 {
width: 45%;
margin: 6px 7px 0px 0px;
float: left;
border: 1px solid #F0F0F0;
min-height: 120px;
padding-top: 10px;
}

.m768.mobile-menu .leftTabContainerWrapper h2 {
display: none;
}

.m768.mobile-menu .activityLabel{
padding-left: 19px;
padding-right: 10px;
}
.m768.mobile-menu .activityVar {
font: normal normal normal 45px/normal "Delius", Helvetica, sans-serif;
font-weight: lighter;
text-align: center;
min-height: 60px;
}

.m320.mobile-menu .container-wrapper-start-up {
background-size: 73% auto;
background-position: 58px 30px;
width:250px;
top: 50%;
left: 50%;
margin-left: -145px;
margin-top: -150px;
}

.m320.mobile-menu  .search-bar-wrapper {
padding: 3px;
background: #fff;
width: 70%;
position: absolute;
top: 40%;
left: 50%;
border-radius: 2px;
border: 1px solid #D3D0D0;
margin-left: -35%;
margin-top: 10px;
}


.m768.mobile-menu .search-bar-wrapper {
padding: 3px;
background: #fff;
width: 60%;
position: absolute;
top: 40%;
left: 52%;
border-radius: 2px;
border: 1px solid #D3D0D0;
margin-left: -30%;
margin-top: 10px;
}

.activated-col+.activated-col:after {
content: "|";
position: absolute;
left: 3px;
top: 9px;
color: #BDBCBC;
}
.activated-col {
float: left;
padding-top: 10px;
padding-left: 25px;
position:relative;
}
.activated-col+.activated-col {
    padding-left: 18px;
    margin-left: 10px;
}

.activated-col .search-bar-wrapper {
    width: 250px;
    top: 0px;
    left: auto;
    margin-top: -3px;
    position: relative;
    display: inline-block;
    margin-left: 0px;
    height: 25px;
}
.activated-col .search-bar-wrapper input.search-input-big {
    height: 17px;
    font-size: 15px;
    line-height: 12px;
}
.activated-col .search-bar-wrapper .search-start-button i {
    top: -9px;
    font-size: 22px;
}
.activated-col .search-bar-wrapper .search-start-button i {}
.activated-col .search-bar-wrapper button.search-start-button {
    width: 30px;
    height: 30px;
}